[2021-02-04 09:10] mmarschler commented on #175
This would be a very important function for NHMW too, as (at least!) two people (Andrea Stadlmayr as TA coordinator, me as VA coordinator) work with our general email address (synthesys@nhm-wien.ac.at). Now it is only possible to give the TA coordinator role to Andrea's email address, but all TA emails should go to synthesys@nhm-wien.ac.at.

[2021-02-04 09:24] cannedit commented on #90
Hi @LarissaS,
I just checked and it does work, so please check the spam filter of your email box.

[2021-02-04 09:27] cannedit commented on #135
Hi @B-San-Chi,
I am sorry, I don't understand: is the location shown now correct?

[2021-02-04 09:34] cannedit commented on #157
Hi @emhaston,
Ok, that might be an enhancement for later on (officially it then would have to be: "Search for Facilities and Instruments & services by name" and that would be too long and would technically also have to be changed into "by keywords"). Let's leave this for now, because Instruments & services are part of Facilities. I will make sure this gets mentioned in the manual (actually it is a

[2021-02-04 09:34] #157 closed

[2021-02-04 09:37] cannedit commented on #167
Hi @emhaston,
Yes, that's correct.

Hi @philippeloret,
Sorry, I don't see any problem with this; I think this functionality is now working fine and can lead to a creative use of it, so suits multiple purposes.

[2021-02-04 09:37] #167 closed

[2021-02-04 09:38] cannedit commented on #169
Hi @philippeloret,
Thank you and the character issue is already dealt with, so will be solved with the next deployment.

[2021-02-04 09:38] #169 closed

[2021-02-04 09:41] cannedit commented on #178
Hi @LarissaS,
This is probably due to the fact that we had several attempts to deploy the latest ELViS version on the Acceptance server from Friday till Monday, so please try to reproduce this again (my guess is that it will not happen again) :-).

[2021-02-04 09:46] cannedit commented on #179
Hi @LarissaS,
That's correct, the i-icons that should be there are missing; this is a bug which we will solve soon; however, please check the i-icon texts in the manual, these are the texts that are agreed upon with NHM/London; in case texts need to be changed, please contact them, because they are still providing a list of missing texts, so we can process those in one run.

[2021-02-04 09:48] cannedit commented on #177
Hi @philippeloret and @mmarschler,
Yes, I noticed that too, but I guess logging out and logging in again in case of changing of profile/roles changes is not a big problem right? I will see whether we can solve this, otherwise it's something I will mention in the manual.

[2021-02-04 09:48] philippeloret commented on #167
Hi @cannedit, This is not a problem, just a comment to explain that we could use this functionality to search requester in another way. This works fine.

[2021-02-04 09:49] LarissaS commented on #90
Found! Not in "spam" but in "unwanted mails" map. Sorry!

[2021-02-04 09:50] cannedit commented on #169
Hi @philippeloret,
Thank you, I will make sure this will be corrected.

[2021-02-04 09:55] mmarschler opened #181 "Location name of affiliated locations"
The extra addresses are now visible for everybody in the institution profile, that works perfectly well.
But I suggest to include the location name too, as this is in many cases different from the institution's name.

[2021-02-04 09:56] philippeloret commented on #177
I think this can be confusing for the user. When you change your profile, you expect to see updated information at any time. Moreover, you cannot see your profile in the people tab (institution page) if you changed your "institution". If we need to refresh our browser or logout, I has to be mentioned.

[2021-02-04 10:13] LarissaS opened #182 ""My requests" is now "Show only requests for my institution"?"
#### Description
as a requester I'm searching for my request. I expected to see two options:" Show all request" and "Show my requests". Instead, the last one is now "Show only requests for my institution". I would expect this option for a TA moderator, but not for a requester.

#### Steps to reproduce the issue

1.
2.
3.

#### What's the expected result?

-

#### What's the actual result?

-

####

[2021-02-04 10:25] LarissaS opened #183 "layout distortion"
#### Description
As an institutional moderator I'm checking a submitted request. There are distortions and overlaps in layout in some parts of the request: project information, resources needed/general, supporter information.

#### Steps to reproduce the issue

1.  Log in as administrator
2.  search for requests -> only for my institution
3. open request

https://elvis-accept.pictura-hosting.nl/re

[2021-02-05 08:01] mmarschler commented on #182
That's curious. I still have "Show only my requests".

[2021-02-05 08:16] LarissaS commented on #182
I think that happened after I changed from "coordinator" account to "requester"

[2021-02-05 12:57] B-San-Chi commented on #135
No. I already sent you the real location in an attach file

The place on the map where you are now is on the outskirts of the city. The RJB is in the center of Madrid, in Plaza de Murillo, 2, occupying the square with the Prado Museum. Postal code 28014

De: Wim van Dongen [mailto:notifications@github.com]
Enviado el: jueves, 04 de febrero de 2021 10:28
Para: DiSSCo/ELViS
CC: Begoña Sánchez Chilló

[2021-02-05 13:24] LarissaS commented on #135
It works fine, I've tried adding, editing, removing facilities and instruments. But when adding a new facility, I had a problem:
my description of the facility was quite long and it was cut in the middle without telling me that it exceeded  the allowable length of the text. Can this field (Description)  consist of only 200 words?
It may be a problem if the list of facilities is added automatically

[2021-02-05 13:36] LarissaS opened #184 "Add/delete user to institutional profile, small bug?"
#### Description
When I add or delete Arnaud Henrard, who is an institutional coordinator for RMCA, a line with information about him does not appear/disappear after the action. I have to refresh the page. With other users it works fine.

#### Steps to reproduce the issue

1.  I added Arnaud and Andrea
2.
3.

#### What's the expected result?

-to see both names op the People page

#### What's the

[2021-02-08 09:09] philippeloret commented on #181
I agree. I could be a good idea to add the location name.

[2021-02-08 09:44] mmarschler opened #185 "deleted facility still shown on the facility list"
When you delete a facility, it still can be seen on the facility list. It vanishes only after refreshing the page or go to another tab.

#### Steps to reproduce the issue

1.  Klick the button "delete facility"
2. Conform the question "Are you sure you want to delete the facility" -> delete
3. The deleted facility is still shown on the list.
4a. It only vanishes after refreshing the page or go to

[2021-02-08 09:51] mmarschler opened #186 "Edit facility - come back to facility list"
#### Description
After editing a facility, you are automatically forwarded to the insitutions page. I expect to come to the facility list again after editing a facility.

#### Steps to reproduce the issue

1.  Go to "Facilities" and click on "enter facility"
2. Make changes and click on "save facility"
3. You are automatically forwarded to the "institutions" page
4. If you want to control your cha

[2021-02-08 10:24] B-San-Chi commented on #135
The location map for the Real JArdín Botánico de MAdrid now is correct.
Thank you!!!!

[2021-02-08 11:16] mmarschler commented on #166
The function works now. I can choose start and end date and the proposed length of visit only allows me to select the number of working days that are possible between start and end.

[2021-02-08 11:56] mmarschler commented on #165
The blue box is now implemented and can be seen by the requester. But there is only the first sentence shown ("All information you fill in here is stored in real time.") and the "more info"-button. As a new requester, I think that there is just more info about real time storage. But there are a lot of important informations like the limit of text fields or general informations about submitting a r

[2021-02-08 12:00] mmarschler commented on #164
The blue box can be seen, thx.
See also comment in issue #165

[2021-02-08 12:04] mmarschler commented on #138
It works now. I'm not able to use an email address that already exists.
![ELViS_email_exists_2021-02-08](https://user-images.githubusercontent.com/75616869/107217302-471b7400-6a0e-11eb-9671-ad89303d3887.PNG)

[2021-02-08 12:07] mmarschler commented on #135
The location of the NHMW is now correct too.

[2021-02-08 12:21] mmarschler opened #187 "My profile - institution"
So far, you can only select an institution from a dropdown list containing all participating institutions. It is not possible to add another institution that is not listed, although this is probably an important information.

[2021-02-08 12:58] mmarschler opened #188 "TA: Show only requests for my institution doesn't work"
#### Description
When I'm logged in as a TA coordinator and go to requests, I see all requests including the ones for my institution. When I filter them by clicking "Show only requests for my institution" I don't see a single request.

#### Steps to reproduce the issue

1.  Log in as TA coordinator or institutional moderator
2. Go to tab "requests"
3. Filter "Show only requests for my institution"

[2021-02-08 13:04] mmarschler opened #189 "Withdraw request by TA coordinator/institutional moderator"
#### Description
I (TA coordinator/institutional moderator) was able to withdraw a submitted request although - according to the ELViS manual –  this can only be done by the ELViS admin (p. 20: "And as you can see in the screenshot above, requests can also be “Withdrawn”. This is something only an ELViS admin can do, of course only if a requester asks for this.").

#### Steps to reproduce the issu

[2021-02-08 13:31] mmarschler commented on #182
We just found out that this is a problem of "double roles". My colleague Andrea has the roles "requester" and "TA coordinator", and she also can only filter "Show only requests for my institution" (which does not work properly, see #188).
![ELViS_requests_my_inst_AS_2021-02-08](https://user-images.githubusercontent.com/75616869/107226397-5dc7c800-6a1a-11eb-8d49-ca6c69a43ef9.PNG)

[2021-02-08 13:36] mmarschler opened #190 "TA: Text update request"
#### Description
If I change my submitted request, there is a info-text at the bottom of the page that is VA-specific. This text has to be adapted to TA.

![ELViS_request_update_2021-02-08](https://user-images.githubusercontent.com/75616869/107226892-fd855600-6a1a-11eb-8599-7b9f45659132.PNG)

[2021-02-08 13:57] mmarschler commented on #162
It works for us at the moment, but we should keep this in mind for future enhancements/developments, as the usability increases a lot if there is a filter by call.

[2021-02-08 14:59] mmarschler opened #191 "Links in description of instruments or servicesn (minor issue)"
#### Description
Links that are given in the description of instruments or services are shown as text

#### Steps to reproduce the issue
1.  select your institution
2. create or edit a facility and add a description of instruments or services including a link
2. go to tab "facilities"
3. the link in the description is embedded as text

#### What's the expected result?
- a link that works (like the

[2021-02-08 15:08] mmarschler opened #192 "TA: Layout of request (minor issue)"
#### Description
The layout of requests needs adaption: there is not enough space between of the catagory names and the information of the fields, in several cases category name and field overlap.

#### Steps to reproduce the issue
1.  log in as TA coordinator
2. got to request and select a request

![ELViS_layout_request_2021-02-08](https://user-images.githubusercontent.com/75616869/107237559-287

[2021-02-08 15:40] mmarschler opened #193 "TA: add other researchers"
#### Description
In the section "Researchers team details" you can only add "other researcher(s) of your group" by selecting a name from the dropdown-list (i. e. registered users). Although you can fill names of other people who are not listed/registered, this information is not stored.

#### Steps to reproduce the issue
1.  create a TA request
2. fill in a name in "other researcher(s) of your gro

[2021-02-08 15:57] mmarschler opened #194 "TA: submitting a request - mandatory fields?"
I created a new request and just chose the institution - it was possible to submit this request without filling any other field. Maybe it would be helpful to define mandatory fields that have to be filled before the requester can submit the request?

[2021-02-09 09:18] scottwilson-nhm commented on #187
I have flagged this up in my notes to Wim for i-icon text too; most of our TA Requesters will not be employed at one of our TAF institutions, and be applying from outside the TAF family.

[2021-02-09 09:40] #138 closed

[2021-02-09 09:42] cannedit commented on #139
Welcome paragraph updated text is already provided by Scott, he can put it in himself. Version number will be changed on the Production server eventually.

[2021-02-09 09:42] #139 closed

[2021-02-09 09:42] #164 closed

[2021-02-09 09:44] B-San-Chi commented on #135
I have the same problem than LarissaS, there is not enough space neither in the description of the laboratory nor of the instrumentation

[2021-02-09 09:45] cannedit commented on #165
I understand you concern, but this is a compromise because we not only have to show the blue box, but also the navigation flow. I guess the ELViS users will be smart enough to find the info and of course we can explain everything in more detail in the manual. And unfortunately we are still having a lot other - imho more important - things to take care of before the deadline first.

[2021-02-09 09:45] #165 closed

[2021-02-09 09:48] cannedit commented on #135
I am sorry we have to stick to the 2000 character limit, so please try to solve this via linking to a webpage which will provide more info.

[2021-02-09 09:48] #174 closed

[2021-02-09 09:49] #128 closed

[2021-02-09 09:52] cannedit commented on #183
Can you please provide some more information: which browser/version are you using, does it occur also in other browsers/version and can you please provide a screenshot?

[2021-02-09 09:55] cannedit commented on #184
Yes, immediate update of the info when editing the profile seems to be a problem; we're looking into this at the moment; for now. please check whether logging out/logging in again (and sometimes empty the browser cache) is a good workaround; let me know whether that works.

[2021-02-09 09:56] cannedit commented on #185
Can you please provide more info on this (because I can't reproduce it): in which browser/version did you run into this and does it also happen in another browser/version?

[2021-02-09 09:59] cannedit commented on #187
Sorry, but we're not going to support this for now; the i-icon text will clarify this.

[2021-02-09 10:00] cannedit commented on #188
This is probably due to a mixture of roles; we will look into this.

[2021-02-09 10:01] cannedit commented on #189
We will look into this.

[2021-02-09 10:01] cannedit commented on #190
We will adapt this.

[2021-02-09 11:39] mmarschler commented on #185
Yesterday I tested on my computer at work, Firefox 85.0.1 (64-Bit).
Today I tested on my private computer, same problem. Firefox 82.0.3 (64-Bit).

[2021-02-09 12:53] LarissaS commented on #183
Sorry, the steps were not right!
Steps to reproduce the issue:
- Log in as administrator
- search for requests -> search on "Bonobo", you will get two requests, choose "New study of bonobos" (because there are more information in the fields.
- open request
-In some fields you see distortion (see screenshots for Microsoft Edge 2020 and Google Chrome ):
Microsoft Edge:
![image](https://user-images.g

[2021-02-09 13:18] LarissaS commented on #184
I tried another browser (Chrome) and emptied the browser cache, but still the same problem with adding/removing Arnaud. With other people (I tried Patricia Mergen) it works absolutely fine. It has probably something to do with the fact that Arnaud is an institutional coordinator!

[2021-02-09 17:30] cannedit commented on #191
We will take care of this.

[2021-02-09 17:31] cannedit commented on #192
We will look into this. Does this have something to do with the screen width/browser?

[2021-02-09 17:37] cannedit commented on #193
The original idea was that in case a requester would like to add other requesters to his/her team, then he/she should make them aware of the fact that they have to register first. This would be the first step for getting those extra team members also involved in filling in/completing the TA form, which we intended to implement in the second ELViS development phase.
But as requested by Wouter in th

[2021-02-09 17:39] cannedit commented on #194
The wireframes of the TA form have been evaluated over and over again and this is the result of those discussions: not too many mandatory fields. I think this is something to be evaluated after the first TA Call and of course in the meantime the TA Coordinators can urge requesters via the comments section to fill in more fields if necessary.

[2021-02-09 17:41] cannedit commented on #177
We are looking into this at the moment and in case we can't solve it, I will make sure it will be mentioned in the manual.

[2021-02-09 17:42] #166 closed

[2021-02-09 17:45] #135 closed

[2021-02-09 17:46] cannedit commented on #185
We will look into this.

[2021-02-09 18:03] cannedit commented on #190
Will it be Ok to just change these parts of the text shown above:

- VA Coordinators = TA Coordinators (twice)
- peer review = scoring

[2021-02-09 19:44] mmarschler commented on #192
I don't think so. We have tried it with 4 different computers/screens and with different zooms - it stays the same.

[2021-02-09 19:45] mmarschler commented on #194
Ok. I'm new to this group so don't know of this discussions.

[2021-02-09 19:51] mmarschler commented on #190
No, there are some more changes.
@scottwilson-nhm : Could you please provide an adapted text for this? Thx in advance!

[2021-02-10 13:41] LarissaS opened #195 "searching for facilities: going back brings to unsearched list"
#### Description

if you search for certain facilities and you click on any on the list,

#### Steps to reproduce the issue

1. Search Facilities for "Belgium"
2. Get list of facilities from different institutions (Meise, Africamuseum)
3. click on any facility (eg: facility 2 in Africamuseum)
4. read description of facility
5a. if go back via arrow Museé d'Afrique....
6a. you come to the instituti

[2021-02-10 18:00] cannedit commented on #192
Please provide the link to the request.

[2021-02-10 18:01] cannedit commented on #194
I understand, so let's for now leave it as it is Ok?

[2021-02-10 18:03] cannedit commented on #190
Ok, but for now I have asked to already put in the suggested adaptions, because we're in the middle of a huge overhaul of all text changes and we can't continue doing this over an over again, sorry. So please provide any additional changes a.s.a.p.

[2021-02-10 18:05] mmarschler commented on #194
Yes, of course. Thx Wim.

[2021-02-10 18:08] mmarschler commented on #192
Here are two examples:
https://elvis-accept.pictura-hosting.nl/requests/ta/a1552bd7-e8d9-48ae-a347-7e167f65f703
https://elvis-accept.pictura-hosting.nl/requests/ta/4dd6b7c7-0f25-4a4a-b8ee-cf70e90a3f72

[2021-02-10 19:54] cannedit commented on #192
Ok, thanks, we will look into this; it seems that there just isn't enough space between the labels and the values of the text fields; this should not be too difficult to solve I think.

[2021-02-12 12:08] LarissaS opened #196 "Text below submitted request to be updated"
#### Description

requester can still open submitted request with 'to be evaluated" status and update an information. The in text below it's written "VA coordinator" instead of "TA coordinator" (see screenshot)

#### Steps to reproduce the issue

1.  Open in My request 'to be evaluated" request
2. go to the end of the proposal
3. Under "Is your request ready to be updated?" you will see the text f

[2021-02-16 10:20] emhaston commented on #140
Has this been resolved yet? Our testing of a new registration resulted in no e-mail being received. This means that the user does not realise that the registration has actually worked.

[2021-02-16 12:06] cannedit commented on #193
It's now possible to add any other user, which is not yet registered in ELViS yet, by typing his/her name in the text field and clicking on the "enter"-key.

[2021-02-16 12:07] cannedit commented on #192
This should be fixed now, please test.

[2021-02-16 12:09] cannedit commented on #191
This is fixed now, please test.

[2021-02-16 12:10] cannedit commented on #188
We're still working on the handling of TA requests, so this will be fixed during the next sprint.

[2021-02-16 12:11] cannedit commented on #185
This is fixed now, please test.

[2021-02-16 12:12] cannedit commented on #184
This is fixed now, please test.

[2021-02-16 12:13] cannedit commented on #183
This is fixed now, please test.

[2021-02-16 12:13] cannedit commented on #182
This is fixed now, please test.

[2021-02-16 12:14] cannedit commented on #180
This is fixed now, please test.

[2021-02-16 12:15] cannedit commented on #179
This is fixed now, please test.

[2021-02-16 12:16] #178 closed

[2021-02-16 12:17] cannedit commented on #177
This is fixed now, please test.

[2021-02-16 12:18] cannedit commented on #176
Unfortunately this is still the case on our Acceptance server. However, this will not occur on the Production server. So, I hereby close this issue and ask you kindly to check on the Production server once that is updated later this week.

[2021-02-16 12:18] #176 closed

[2021-02-16 12:19] cannedit commented on #173
This is fixed now, so please test.

[2021-02-16 12:20] cannedit commented on #172
There is a new text provided and updated, please test.

[2021-02-16 12:21] cannedit commented on #171
All texts provided anew have been updated, so please test.

[2021-02-16 12:22] cannedit commented on #170
This has been fixed now (TA requests are only visible for people directly involved, so not for anyone else, no matter what their status is), so please test.

[2021-02-16 12:23] #163 closed

[2021-02-16 12:27] cannedit commented on #99
It's now possible for an Institution Moderator to edit the name of his/her institution, please test.

[2021-02-16 12:27] cannedit commented on #98
It's now possible for an Institution Moderator to edit the name of his/her institution, please test.

[2021-02-16 13:48] LarissaS opened #197 "information in "General " part of "Resource needs" is not saved"
Description:
After checking my request "Test bonobo" I found out that information I put in Resources needs in general part are missing, after updating - the same.
I checked it again with a new request (test_bonobo_again) under the new username (private email, not institutional), and result is the same, changes in other parts are saved, in "general" - not!

1.  add new request
2. fill in the fields

[2021-02-16 14:00] LarissaS commented on #182
It's ok now.
But is it normal that I can open requests from other people and read a content?

[2021-02-16 14:02] LarissaS commented on #183
In order

[2021-02-16 14:08] LarissaS commented on #184
It works fine with adding/deleting other people, but not coordinators: I tried to delete Arnaud or myself, it askes "Are you sure you want to remove this person", but  nothing happens after I push 'Yes'.

[2021-02-16 14:22] LarissaS opened #198 "two fields "amount of days" under the same facility"
#### Description

For Musee Royal d'Afrique central under facility "Molecular Lab Facilities" there are two fields 'amount of days'. Under other facilities, also if you choose two institutions, there is always one field.

#### Steps to reproduce the issue

1.  create new request
2. choose MRAC as host institution
3. go to "Resources needs"
4. under "Molecular Lab Facilities" you see two dropdown f

[2021-02-16 14:30] LarissaS opened #199 "mistakes in the email that new Ta request is created"
#### Description
As a TA coordinator I've got a confirmation mail that new request is created.
In the text "VA" should be changed to "TA";  link (url) is not working
Check also dots at the end of a sentences.

Strange that for requests which I created under my institutional mail I did not get any notifications as a TA coordinator!

#### Steps to reproduce the issue

1.
2.
3.

#### What's the expec

[2021-02-16 20:10] cannedit commented on #140
No, sorry, but we are still facing problems with the mailserver on our Acceptance server, but this will not be a problem on the Production server, so please test again over there, once the new version of ELViS is deployed over there.

[2021-02-16 20:11] cannedit commented on #182
For VA Requests: yes, that's an agreement made within the project a long time ago.

[2021-02-16 20:11] #183 closed

[2021-02-16 20:14] cannedit commented on #184
Ok, I could reproduce this and we will take care of this.

[2021-02-17 09:10] mmarschler commented on #193
Great! Works well now. Thx Wim.

[2021-02-17 11:45] #193 closed

[2021-02-18 08:12] LarissaS commented on #196
It is updated, but change "digitising institutes" to "host institutes".

[2021-02-18 08:17] LarissaS commented on #192
It looks fine now.

[2021-02-18 08:35] LarissaS commented on #191
Not solved, link in "Instruments" is not clickable.

[2021-02-18 08:39] LarissaS commented on #185
I can't delete anything, it says "action disabled due to active TA call"

[2021-02-18 08:48] #192 closed

[2021-02-18 08:52] cannedit commented on #191
Please try again, because according to the attached video it is working ...

https://user-images.githubusercontent.com/22167327/108331419-08847700-71cf-11eb-9c95-bdf849e588bb.mp4

[2021-02-18 08:53] cannedit commented on #185
Please try again, but make sure there is no TA Call active at the moment you try, because that's the trigger for not allowing to edit or delete facilities anymore (check the manual).

[2021-02-18 08:58] LarissaS commented on #98
It works for me

[2021-02-18 09:15] LarissaS commented on #191
Yes, for Wien it works, but my link is not clickable:
![image](https://user-images.githubusercontent.com/949726/108334468-43d47500-71d2-11eb-99ff-bc411c931ee0.png)

[2021-02-18 09:27] LarissaS commented on #185
It works now, probably I put the link in the title of Instruments instead of in the description field. May be to make it clear the "URL" field should be added, the same as for Facility?

[2021-02-18 10:36] mmarschler commented on #191
Yes, it works well for our institution.

@LarissaS : You have given the link in the name-field of the instrument/service. I think this is just a text field. I put our links in the description field!

[2021-02-18 10:55] jgrieb opened #200 "Radiobuttons selection problem in TA request form"
#### Description
For any radiobutton in the TA request form, if the selected value is changed repeatedly (Yes->No->Yes), the 'No' option does not get unselected anymore and the radiobutton shows both values as selected (see screenshot below)

#### Steps to reproduce the issue

1. Create a new TA form
2. For any radiobutton, first select 'Yes', then select 'No', then 'Yes' again

#### What's the ex

[2021-02-18 11:05] jgrieb opened #201 "Comments for VA & TA requests not working anymore"
#### Description
When I try to add a comment to a VA or a TA request it doesn't work anymore. After clicking 'Add comment' the wheel keeps spinning. Network analysis shows that an Http error 404 occurred upon posting the comment. This used to work before.

Could someone please confirm this issue or does it only happen to me?

[2021-02-18 11:14] jgrieb commented on #170
Tested this and works: As a requester I can see all VA requests but only the TA requests I submitted. As a TA coordinator I can see only these TA requests which were submitted to my institution, i.e. assigned to me.

Update: I just saw that TA requests from a different requester account assigned to me as TA coordinator were shown under the option "Requests assigned to me", but not under "All reque

[2021-02-18 11:33] jgrieb commented on #199
I also experienced problems with the emails. I use two accounts, one with requester role & one with TA coordinator+requester role. When I submitted 2 TA requests via the requester account, I did not receive any Email at all as TA coordinator. When I submitted a TA request with the TA coordinator account itself, I received an Email. It had the same problem as above (text needs to be changed).

Also

[2021-02-18 11:52] jgrieb commented on #198
I think this is not a but error. This is because of the entered facilities data for MRAC. If you go to https://elvis-accept.pictura-hosting.nl/institutions/grid.425938.1/facilities/13e62962-fd78-48ba-818d-3d728270bbe8 you see that there are two "Instrument or service" entries but without names. The 'Amount of days' fields in the form are for each individual instrument or service. You just need to

[2021-02-18 12:31] mmarschler commented on #180
Tested, ok now.

[2021-02-18 14:26] LarissaS commented on #198
I can't see that there are two instruments there! Actually I can't  update my facilities at all. I understand that we are not allowed to delete facilities, but why not to update them? if for example there are any errors, or I want to add something (an photo, url,  description).

[2021-02-18 15:01] #98 closed

[2021-02-18 15:03] cannedit commented on #185
@LarissaS I guess your last comment belongs to another Github issue?

[2021-02-18 15:04] #191 closed

[2021-02-18 15:05] #170 closed

[2021-02-18 15:06] #180 closed

[2021-02-18 15:24] mmarschler commented on #201
Confirmed - I have the same problem!

[2021-02-18 15:29] mmarschler commented on #99
Tested, it worked for NHMW. I could edit the our institution's name.

[2021-02-18 15:37] mmarschler commented on #171
All texts are fine now and the i-icon-texts and character counts make it very clear and userfriendly. Thanks everybody!

[2021-02-18 15:39] mmarschler commented on #172
Ok now! Thx!

[2021-02-18 15:43] mmarschler commented on #173
Tested, it works well!

[2021-02-18 15:46] mmarschler commented on #177
Tested, it's ok now!

[2021-02-18 18:39] mmarschler commented on #199
same here!

[2021-02-18 19:10] mmarschler opened #202 "Visibility/Filter all assigned TA requests for inst. moderator"
#### Description
As an institutional moderater/TA/VA coordinator, I can see my assigned TA requests only when I filter the requests by clicking on "requests assigned to me". They are not shown in the list of all requests.
(Logged in as a requester, it works well: I can see my requests in the list of all requests as well as in the list of my own requests.)

List of all requests:
![2021-02-18_ELViS_

[2021-02-18 19:16] mmarschler opened #203 "TA request visible which is not assigned for my institution"
#### Description
In the list of requests assigned to my institution (NHMW), there is one TA request that is not assigned to NHMW, but for Senckenberg.

Requests assigned to me:
![2021-02-18_ELViS_instmod_assignedrequests](https://user-images.githubusercontent.com/75616869/108408966-f41f9900-7225-11eb-80ba-48a71b1c2079.JPG)

Details of TA request which is wrongly shown in my list:
![2021-02-18_ELVi

[2021-02-19 07:10] LarissaS commented on #185
indeed, sorry! I'll copy it on right place.

[2021-02-19 08:27] philippeloret commented on #177
It works fine now.

[2021-02-19 08:35] philippeloret commented on #173
It's ok for me.

[2021-02-19 08:47] philippeloret commented on #201
Same problem when I tried to add comment.
![Capture d’écran de 2021-02-19 09-44-41](https://user-images.githubusercontent.com/75371870/108480584-7005f980-7297-11eb-8775-2aa23e69fe69.png)

[2021-02-19 09:08] philippeloret opened #204 "Email not checked in Supporter information"
#### Description
I filled in an invalid email in supporter information and no error message told me that this email is an invalid email.

#### Steps to reproduce the issue

1. Create a new TA Request
2. Fill in invalied email (jane.doe) in the supporter information
3. Submit the reqiesy

#### What's the expected result?
I expected to have a error message because the email is invalid

#### What's t

[2021-02-19 09:21] philippeloret commented on #200
I had the same problem.

![Capture d’écran de 2021-02-19 10-17-14](https://user-images.githubusercontent.com/75371870/108484547-37b4ea00-729c-11eb-8dfa-b1f4637fcd92.png)

[2021-02-19 09:38] philippeloret commented on #99
Tested. It works fine

[2021-02-19 09:41] philippeloret commented on #179
Tested, i-icons are now visible.

[2021-02-19 09:49] philippeloret commented on #185
Now, we can't delete facility when a TA Call is active.
But I can add a new facility. I wonder if it is a good idea to let institution moderator add a facility if we can't edit or delete this new facility because institution moderator can make errors but can't resolve them.

[2021-02-19 09:56] philippeloret opened #205 "No i-icons in Resources needs > General"
#### Description
There are no i-icons in Resources needs > General.
If "Access to collections" and "Access to libraries" fields are yes/no answer, may be radio buttons could be easier for requester.

#### Additional details / screenshot

![Capture d’écran de 2021-02-19 10-51-02](https://user-images.githubusercontent.com/75371870/108488780-10145080-72a1-11eb-9208-4fbe9009dce8.png)

[2021-02-19 10:26] LarissaS commented on #202
The same.
I also noticed that if I log in under inst. coordinator name (who is also VA coordinator) I only can see VA requests assigned to me, but not TA. Does it mean that inst. coordinator should also have a role of 'TA coordinator' to see all requests assigned to his institution?

[2021-02-19 10:31] LarissaS commented on #202
I added a role of "TA coord." to institutional coordinator but request for TA are still not visible by filtering "assigned to me"

[2021-02-19 10:35] LarissaS commented on #203
the same, from 9 assigned requests 3 are not for RMCA.

[2021-02-19 11:15] #171 closed

[2021-02-19 11:15] #172 closed

[2021-02-19 11:16] #177 closed

[2021-02-19 11:16] #173 closed

[2021-02-19 11:18] #99 closed

[2021-02-19 11:18] #179 closed

[2021-02-19 11:23] cannedit commented on #185
@philippeloret I understand your concern, but allowing to add a new facility when a TA Call is active is only meant to be used in case an Institution Moderator forgot to add a facility which will block a request for a visit (remember the VA workflow: over there it's not possible to add an institution to a request once it's submitted); so this is just in case of an emergency; allowing also editing

[2021-02-19 12:45] philippeloret commented on #185
@cannedit I agree, it is really risky to delete facilities while a TA Call is active. And normally, all facilities have to be added before TA Call and there is no reason to add a facility, so it is not really important. But as the feature exists, institution moderators should be aware about this concern.

[2021-02-19 16:10] lenarulz opened #206 "Brand New VA Call Request Name still editable on the following page"
#### Description
Brand New VA Call Request Name still editable on the following page

#### Steps to reproduce the issue

1.  Go to Calls
2.  Click on 'Brand New VA Call'
3.  Click on 'Create new Request'

#### What's the expected result?

- New VA Call request name to be fixed/ not editable after it is inserted and saved on the "Request Name Page" (separate page)

#### What's the actual result?

-

[2021-02-22 09:03] B-San-Chi opened #207 "Error when requesting a visit to an institution"
#### Description
When making a visit request in the MNCN, an error appears:
"Something went wrong when selecting the National Museum of Natural Sciences. Is there a technical assistance coordinator assigned to this institution?"

#### Steps to reproduce the issue

1.  Fill Type of request. Visit
2.  Fill Request title
3. Select the institution

#### What's the expected result?
Open the rest of the

[2021-02-22 21:15] FB-MfN opened #208 "Editing institution's main contact and email without visible result"
#### Description
As institution moderator I would like to add a contact person and a contact person's email. The fields may be filled in the institution profile form but contact and email do not show in the Main Address tab under institution overview.

#### Steps to reproduce the issue

1.  +Edit institution
2. enter contact person/email
3. check result on institution page

#### What's the expecte

[2021-02-22 21:23] FB-MfN opened #209 "Editing information provided by requesters in VA calls"
#### Description

As a VA coordinator I would like to change information provided by requesters, i.e. Platform for public data release, data storage system, file formats... This information is held by the digitizing institution, not by the requester. It would reduce communication with requesters, if those settings could be changed by VA coordinators

#### Steps to reproduce the issue

1.  Try to e

[2021-02-22 21:45] FB-MfN opened #210 "unexpected behaviour of the add user drop-down when switching windows/tabs"
#### Description

When switching between windows/tabs, while searching for users, the drop-down menu refreshes in between

#### Steps to reproduce the issue

1.  +Add user
2.  search for user
3. switch window/tab and go back

#### What's the expected result?

- drop-down with selection according to search string
![grafik](https://user-images.githubusercontent.com/66432493/108773947-58f92d00-755f-1

[2021-02-23 15:47] cannedit commented on #197
I am sorry, but I can't reproduce this issue (see the video attached), so would you please check again?

https://user-images.githubusercontent.com/22167327/108868707-c60bd180-75f6-11eb-95d2-a6639a22683b.mp4

[2021-02-23 15:56] cannedit commented on #198
I checked and @jgrieb is right (see the video attached); the idea is that facilities should be fully up to date before a TA Call starts, so when a TA Call starts no editing/deleting of facilities is possible anymore, only adding facilities and the latter only in case of an emergency in case an Institution Moderator forgot to add a facility which might block a visit. Sorry, but these are the rules

[2021-02-23 15:56] #198 closed

[2021-02-23 16:06] cannedit commented on #204
I consider this a minor issue (the same would be applicable for the phone number) which we can take care of later on.

[2021-02-23 16:10] cannedit commented on #205
We didn't receive any texts for this, in case this is needed or we have to change the texts themselves, please provide this info.

[2021-02-23 16:12] cannedit commented on #206
I consider this a minor issue which we can take care of later on.

[2021-02-23 16:14] cannedit commented on #207
That's actually a correct statement: you can't register a TA request in case there is no TA coordinator assigned to the institution you want to register a visit for (check the manual on this please). So in case you still need to register a TA request for that institution, you have to make sure it has a TA coordinator assigned.

[2021-02-23 16:14] #207 closed

[2021-02-23 16:16] cannedit commented on #208
I consider this a minor issue which we can take care of later on.

[2021-02-23 16:17] cannedit commented on #209
I consider this a minor issue which we can take care of later on.

[2021-02-23 16:18] cannedit commented on #210
I consider this a minor issue which we can take care of later on.

[2021-02-23 17:00] cannedit commented on #202
@mmarschler so it works as expected for you?
@LarissaS actually I think it works as expected for you too: in case you are not a TA coordinator, then you should not be able to see any TA requests; in case you are a TA coordinator, then you should be able to see TA requests, but only the ones in which your institution is involved; it might be possible that after you added yourself as a TA coordinato

[2021-02-24 13:29] mmarschler commented on #202
@cannedit no, unfortunately not. I (as a TA/VA coordinator) expect to see all TA requests (that are assigned to me) in the "All requests"-list AND in the "Assigned to me"-list. This function works in VA, where I can find all VA requests that are assigned to me in the "All Requests"-list as well as in the "Assigned to me"-list. And it works too when I'm logged in as a requester, where I can find my

[2021-02-25 07:07] LarissaS commented on #197
It works fine. I've checked it in two browsers, don't know what it was, sorry!

[2021-02-25 07:20] LarissaS commented on #202
As a TA coordinator I see the requests for TA call (indeed only in "assigned to me"). But as an institution coordinator (also TA/VA coordinator) I don't see TA requests at all. It's important for institution coordinator to see ALL requests assigned to his institution, even if he is not TA/VA coordinator, no?
I also do not understand why I see (as TA coordinator) TA requests assigned to my institut

[2021-02-25 08:23] LarissaS opened #211 "confusing"submit" button in draft request"
#### Description
I find that autosave function for a new request is quite confusing and draft requests will be submitted every time people want to press "save". I had to stop myself from pressing "submit" every time I made a new request. May be we could add (repeat) the text of the i-icon (at the top of request) just above "Submit" button, to warn people that it will be saved automatically and tha

[2021-02-26 14:39] cannedit commented on #202
We're working on this, but - to be clear - if you are not a TA or VA coordinator, it's normal that you don't see any TA or VA requests assigned to your institution, especially for TA requests, because it's important that only people directly involved in those are allowed to see those (see Github issue #170)

[2021-02-26 15:01] mmarschler commented on #202
ok! thx, wim!

[2021-03-01 08:44] mmarschler commented on #185
sorry, I still can't test it, as the test-TA call ends on 25.3.

[2021-03-01 21:47] cannedit commented on #211
Hi @LarissaS, that info is already in the blue box info.

[2021-03-02 07:22] LarissaS commented on #211
yes, I know. It is confusing to me, but we will see how it goes in the first call. It's not urgent enhancing in any case.

[2021-03-02 12:08] scottwilson-nhm opened #212 "Broken link in email when users Register"
The email people receive when they Register for ELViS includes a broken link

1.  Sign up for an account
2.  You receive an email
3.  Within which is a broken link (screenshot below)

Additional details / screenshot
![image](https://user-images.githubusercontent.com/58856468/109646279-e89a6f00-7b4f-11eb-9879-766edd8d6481.png)

[2021-03-09 11:41] cannedit commented on #202
This has been taken care of, please test.

[2021-03-09 11:42] cannedit commented on #201
This has been taken care of, please test.

[2021-03-09 11:42] cannedit commented on #200
This has been taken care of, please test.

[2021-03-09 11:43] #197 closed

[2021-03-09 11:44] cannedit commented on #196
This has been taken care of, please test.

[2021-03-09 11:47] cannedit commented on #196
See Github issue #190

[2021-03-09 11:47] cannedit commented on #190
See Github issue #196

[2021-03-09 11:49] cannedit commented on #188
This has been taken care of, please test.

[2021-03-09 11:50] cannedit commented on #184
This has been taken care of, please test.

[2021-03-09 11:50] cannedit commented on #182
This has been taken care of, please test.

[2021-03-09 11:51] cannedit commented on #175
This has been taken care of, please test.

[2021-03-09 11:55] cannedit commented on #145
This has been taken care of, please test.

[2021-03-09 13:03] LarissaS commented on #196
"Digitizing institute" is not updated, it has to be 'host institutes"

In general I find it not clear for a requester:
- when he is in draft version, he gets to see this text at the end of the application "Ready to submit your Transnational Access request?"

![image](https://user-images.githubusercontent.com/949726/110472254-7260b400-80dd-11eb-8394-64681caa149c.png)

after he submitted the applica

[2021-03-09 13:14] LarissaS commented on #184
Logged in as coordinator I can add/delete other people but I can't delete neither Arnaud coordinator nor Larissa. After I push "delete" I get a message "Are you sure you want to remove this person", but nothing happens after I push 'Yes'.
![image](https://user-images.githubusercontent.com/949726/110475744-90301800-80e1-11eb-833e-6f5217c1cf42.png)

[2021-03-09 13:17] LarissaS commented on #182
I see nothing from TA call, only two VA projects. One of them is NOT for RMCA.

[2021-03-09 14:17] cannedit commented on #184
@LarissaS this is strange: as (TA) coordinator you should not be able to add/delete users and frankly I can't reproduce this, so would you please check again, because this might be a glitch because of the recent deployment.
As for not being able to delete Arnaud and yourself, that's natural behaviour: you can't delete yourself and you can't delete an Institution Moderator.

[2021-03-09 14:18] cannedit commented on #182
@LarissaS can you please provide screenshots and indicate what you are expecting to see and in what role?

[2021-03-09 14:25] cannedit commented on #196
@LarissaS we will take care of changing the "Digitizing institutes" into "Host institutes" as part of the minor issues still to be taken care of; as for any further text changes, if really necessary we need to receive them asap, but actually we don't have time anymore to discuss text changes back and forth, and we already did a thorough overhaul of all texts based on input from Krissie and Scott a

[2021-03-09 14:30] LarissaS commented on #184
No no, I was logged in as Arnaud (coordinator)!

[2021-03-09 14:31] LarissaS commented on #196
Fine for me!

[2021-03-09 14:37] cannedit commented on #184
Ehm, so as Institution Moderator you mean?
Well then it's obvious that you could add/edit users, and also that you couldn't remove Arnaud, because you were logged in as him.
Furthermore - since we now have more elaborate roles assignment by an Admin - as Institution Moderator you can only delete the users you have added yourself, so for deleting others - as assigned by an Admin - you have to ask a

[2021-03-09 14:39] LarissaS commented on #182
As a TA coordinator I see 12 request, 4 are not for RMCA (e.g.: from Wim and Jonas)
![image](https://user-images.githubusercontent.com/949726/110486802-48af8900-80ed-11eb-86c9-93db87a07c38.png)
As inst. coordinator (and TA and VA coordinator)  I see only two VA projects:
![image](https://user-images.githubusercontent.com/949726/110487088-86141680-80ed-11eb-8620-a37c999d8f34.png)

[2021-03-09 14:39] LarissaS commented on #184
Fine to me

[2021-03-09 15:50] cannedit commented on #182
I see only 2 requests not belonging to your institution in your first screenshot:
* Just another TA Call request - this one belongs to Agentschap Plantentuin Meise
* My test ta request - this one belongs to Schenkenberg
The other one - New Repo Test - has two institutions involved: Agentschap Plantentuin Meise and RMCA:
![NewRepoTest](https://user-images.githubusercontent.com/22167327/110497879-23

[2021-03-09 15:57] cannedit commented on #203
Apparently something went wrong with Jonas' request, see also Github issue #182.

I can't really explain this other than that this is probably caused by using different versions of ELViS for looking at TA requests in combination with the recent refactoring the filtering as well as the assigning of roles.

However, I don't expect this to pop up in the ELViS Production server, because over there we

[2021-03-09 15:58] cannedit commented on #182
See also Github issue #203

[2021-03-10 07:47] cannedit commented on #196
We have changed the text now, see the screenshot attached, please test again.
![ELViS_Acceptance_NewUpdateRequestText](https://user-images.githubusercontent.com/22167327/110594602-4e54af80-817d-11eb-9fd5-91a9daf5370c.png)

[2021-03-10 08:25] LarissaS opened #213 "Not possible to choose amount of days in facilities in the first draft of request"
#### Description

While filling in the first draft I could not choose amount of days for facilities in host institution, it was everywhere "0"

Is this intentional?

#### Steps to reproduce the issue

1.  make draft request
2. choose dates, for example  for 5 working days
3. Go to resources needed, try to choose amount of days
4.  it is everywhere "0"
![image](https://user-images.githubusercontent

[2021-03-10 09:57] jgrieb commented on #200
Tested: problem does not occur anymore

[2021-03-10 10:23] jgrieb commented on #201
Tested it, comments work again in TA & VA request forms

[2021-03-10 10:24] cannedit commented on #213
@LarissaS I am sorry, but I can't reproduce this (see the video attached), so could you please check again?

https://user-images.githubusercontent.com/22167327/110614981-35ef8f80-8193-11eb-8d6e-df120ad257b2.mp4

[2021-03-10 10:39] jgrieb opened #214 "TA: "Download request" - resulting PDF is missing information"
#### Description
When downloading the PDF of an approved TA request as a TA coordinator, the resulting PDF is not correct & misses information. It seems to be not updated yet to include the specific fields of TA requests

#### Steps to reproduce the issue

1.  Create a TA request
2.  As a TA coordinator, approve the TA request
3.  As a TA coordinator, in the request overview menu click the button

[2021-03-10 11:45] LarissaS commented on #213
Larissa Smirnova heeft een OneDrive voor Bedrijven-bestand met u gedeeld. Klik op de onderstaande koppeling om het bestand te bekijken.
<https://africamuseum-my.sharepoint.com/:v:/g/personal/larissa_smirnova_africamuseum_be/EWx1vpduYrpOvheVmINtKakB0skmfz1zvY9Tb0AZ9Y5vqA>
[https://r1.res.office365.com/owa/prem/images/dc-mpg_20.png]<https://africamuseum-my.sharepoint.com/:v:/g/personal/larissa_smirn

[2021-03-10 12:02] cannedit commented on #213
@LarissaS thanks, I was able to look at the video, but I see what went wrong: in the field "proposed length of visit" a dropdown appears with possible amounts of working days based on the start and end date you provided via the calendar options. But you then still have to select a value in that dropdown list, so either the full amount (in case of your video 5 days) or less, for example 3 or 4. So

[2021-03-10 12:03] cannedit commented on #214
@jgrieb yes, I noticed that too, we're working on solving this asap.

[2021-03-10 12:18] jgrieb commented on #145
Tested - there are now 2 breadcrumb items when looking at one facility:
1 brings the user back to see the overview of all facilities
1 brings the user back to see the other facilities of the institution where the previously selected facility belongs to

Looks good to me

[2021-03-10 13:30] #145 closed

[2021-03-10 14:49] LarissaS commented on #213
Actually I did choose 5 days from the drop-down menu!

________________________________
Van: Wim van Dongen ***@***.***>
Verzonden: woensdag 10 maart 2021 13:02
Aan: DiSSCo/ELViS ***@***.***>
CC: Larissa Smirnova ***@***.***>; Mention ***@***.***>
Onderwerp: Re: [DiSSCo/ELViS] Not possible to choose amount of days in facilities in the first draft of request (#213)

@LarissaS<https://github.com/Lar

[2021-03-10 15:51] #196 closed

[2021-03-10 18:45] mmarschler commented on #202
it works perfectly well now! thx.

[2021-03-10 18:45] #202 closed

[2021-03-10 19:01] mmarschler opened #215 "Production Server: Institutional information NHMW not visible"
On the production server, institutional information for NHMW (adress, affiliated location etc.) is not visible.
In other institutions the information is shown, and for NHMW it is also shown at the acceptance server (see screenshots below).

Browser: Firefox 85.0.1 (64-Bit)

**production server:**
![2021-03-10_production_server_institutionalinformation](https://user-images.githubusercontent.com/756

[2021-03-10 19:02] mmarschler commented on #188
it works fine now.

[2021-03-10 19:56] cannedit commented on #215
We will take care of this.

[2021-03-10 20:00] #188 closed

[2021-03-11 07:13] vixriihi opened #216 "Selected institution not visible in profile page"
#### Description
When I registered a new person to FMNH on that persons profile page it shows
"Institution: Naturalis Biodiversity Center"

#### Steps to reproduce the issue

1.  Register a new account
2.  Select institution
3.  Go to profile

#### What's the expected result?

- Selected institution to be visible

#### What's the actual result?

- Institution: Naturalis Biodiversity Center is sele

[2021-03-11 08:03] LarissaS commented on #213
I tried again today from the office and it works good, dropdown menus for facilities are not empty.

[2021-03-11 08:03] #213 closed

[2021-03-11 08:15] cannedit commented on #216
We will take care of this.

[2021-03-11 08:15] vixriihi opened #217 "Some characters in comments break the pdf download"
#### Description
For example here https://elvis-accept.pictura-hosting.nl/calls/7d4cc4af-ac72-406e-b128-0edb23e48659/edit-va-request/570b786b-88be-4752-80e7-c3e8462106f9 the angle bracket break pdf generation

#### Steps to reproduce the issue

1.  add angle bracket in the comment
2.  download comments as pdf

#### What's the expected result?

- pdf with all the comments

#### What's the actual re

[2021-03-11 08:20] falkogloeckler commented on #185
Same here. Can't test deleting facility, probably due to existing test-TA call

[2021-03-11 08:23] mmarschler commented on #189
tested - i cannot withdraw a submitted request anymore.

[2021-03-11 08:28] falkogloeckler commented on #188
Did someone test it with the "TA coordinator" role or with the "institutional moderator" role only?
According to feedback I got, the filter "Show only requests for my institution" is not displayed for our TA coordinator (MfN).
She is also a institutional moderator. If the issue is due to a mixture of roles, does this have to be solved per account?
Thanks for any advice!

[2021-03-11 08:28] LarissaS commented on #184
By chance I added Carol Paleco to RMCA institutional profile and I can't delete her anymore. With other people it works.

[2021-03-11 08:35] mtrekels commented on #175
The assignment of roles (as an institution moderator, can't test as an admin), works fine!

It doesn't solve the use-case of an institutional email address (i.e. the case of 1 email linked to several people, now it's still a 1person-1email relationship). However, this can be solved at the institutional level, and can be solved by changing internal processes.

OK to close from my point of view, wha

[2021-03-11 08:40] mmarschler commented on #188
It tested it with our general account, which has all roles (TA coord., VA coord. and inst. mod.).

[2021-03-11 08:46] cannedit commented on #185
Then please organise together with an admin (@scottwilson-nhm) to have a timeslot during which calls are closed to test this.

[2021-03-11 08:47] #189 closed

[2021-03-11 08:48] mmarschler commented on #175
Hi Maarten, yes, it's ok for me to close this issue.
We solved this problem by changing the name of this account: First name: Synthesys+ Team, Last name: NHM Vienna.
Best, M.

[2021-03-11 08:50] #175 closed

[2021-03-11 08:55] wouteraddink commented on #185
Facilities will not be deleted during the call, so it is not a major problem if this issue cannot be closed now.

[2021-03-11 09:04] wouteraddink opened #218 "sending email fails on production"
#### Description
If I go to login on production (elvis.dissco.eu, v0.6.8) and click Forgot Password? then I get the message:

 Failed to send email, please try again later.

[2021-03-11 09:09] wouteraddink commented on #218
if I send a support request on production, then I get the message that the request has been sent though, but it also says that an email has been sent to me, which did not arrive. I guess it is the same issue with sending email not working, but different behavior.

[2021-03-11 09:14] lenarulz opened #219 "My VA request have been approved, yet no notification arrived"
#### Description
My VA request have been approved, yet no notification arrived.. therefore potentially i would not even be aware that ut has been approved and when.

#### Steps to reproduce the issue

1.  Go to Requests - My own requests
2.  Check the status on the right
3.  If the status is green and says 'approved', congrats.. but you would probably want to know about it via email

#### What's t

[2021-03-11 09:39] wouteraddink commented on #216
A similar thing is happening when you try to edit your profile later, if you select an institution, it is not immediately displayed in the saved result, and if you navigate away and come back to your profile, Naturalis is selected (independent of which institution you selected).

[2021-03-11 09:57] wouteraddink opened #220 "small issues when using on mobile"
#### Description
There are some small issues when using on mobile, this could be improved in v2. The navigation bar is displayed at the bottom over part of the page. This makes the privacy statement inaccessible when logged in and in some pages part of a form. Also in portrait view sometimes form elements are longer than the screen (but turning your phone in landscape view can still be used)

[2021-03-11 10:11] cannedit commented on #185
I have just closed the open TA call a few minutes ago, so please test again and let me know asap whether I can open it again for other testers/test scenario's.

[2021-03-11 10:13] cannedit commented on #216
We're working on this. This is probably related to adding Naturalis last minute as an extra institution. We don't have functionality to add institutions in the front-end yet, so this had to be taken care of 'under the hood'. So this is something to scope for the 2nd development phase.

[2021-03-11 10:20] mmarschler commented on #189
@cannedit
I'm totally confused:
The old ELViS manual said that only Admins can withdraw a submitted request Thats why I started this issue, because I (as TA coordinator) was able to withdraw. This has been changed, I cannot withdraw a submitted request anymore.
BUT: I just saw that the NEW ELViS manual says: "After a request has been approved **a TA coordinator can** – in case that might be necess

[2021-03-11 10:24] mmarschler commented on #185
Just tested - it works now! The deleted facility vanished immediately from the list.

[2021-03-11 10:28] LarissaS commented on #185
Tested - it works.
But my institutional page is empty and I can't do anything with it. I added information last week and it's vanished.
![image](https://user-images.githubusercontent.com/949726/110773319-e5dcff80-825c-11eb-956a-f6a3746a5158.png)

[2021-03-11 10:32] cannedit commented on #185
@mmarschler Ok, thanks, I have activated the call again.

@LarissaS the additional issue is already reported before and we're working on this.

[2021-03-11 10:40] lenarulz opened #221 "I am only able to see the TA requests submitted AFTER i have been asigned a TA coordinator role"
I am only able to see the TA requests submitted AFTER i have been asigned a TA coordinator role, any my own TA request.
Even though the TA requests submitted BEFORE i was assigned the TA cordinator role were for MY institution - Museum für Naturkunde Berlin.

#### Steps to reproduce the issue

1.
2.
3.

#### What's the expected result?
As a TA coordinator, i believe I have to be able to see all TA

[2021-03-11 10:41] FB-MfN opened #222 "it seems to be possible to submit draft requests after the call closed"
Description
As a requester I was able to submit a draft request after closing of the call. By coincidence I left a request in draft mode on March 10th, which I submitted now during the temporary closure of the TA call.
Is that an expected behviour because we are dealing with "soft" deadlines?

[2021-03-11 10:43] lenarulz commented on #221
Related issue #188

[2021-03-11 10:51] wouteraddink opened #223 "problems when deleting selected institution in TA request"
#### Description
when selecting an institution for a new TA request, the rest of the forms appears and a select list is also displayed for other institutions in the TAF, which is as expected.
But if you selected the wrong institution and deselect it, when selecting another one the rest of the form does not appear anymore and all institutions of all TAFs can be added.

![ta request screenshot](http

[2021-03-11 10:53] wouteraddink commented on #223
NB if you navigate away and try again by selecting the draft TA request it works ok again

[2021-03-11 10:54] lenarulz opened #224 "All the filled out fields in my TA request dissapear (forever?) if i attempt to change the "institution to visit" field after the reqest is submitted and the call is closed"
If i try to change the "insitution to visit" in my own TA request, the system allows me to choose from the drop down menu and change it, however after i click save (or something similar), all the fields below simply disspear and it remains like that even if i go back to the list of requests and open my own request again.

#### Steps to reproduce the issue

1.  Go to the list of the requests
2.  Cl

[2021-03-11 11:13] scottwilson-nhm opened #225 "Downloading a TA Request gives a VA PDF"
When you are admin, you can download TA Requests as below:

![image](https://user-images.githubusercontent.com/58856468/110778332-1ec7a500-825a-11eb-89f3-03e048d02df6.png)

The PDF download however is a VA format PDF with questions that don't correspond to the TA questions:

![image](https://user-images.githubusercontent.com/58856468/110778472-4ae32600-825a-11eb-9d87-f4bdcc6c4b21.png)

We will nee

[2021-03-11 11:21] wouteraddink opened #226 "cannot select multiple researchers with the same name"
#### Description
In a TA request, when selecting researchers in the research group, if two researchers have the same name and you select one of them, the other one cannot be selected anymore to add. This is not very likely to happen but not impossible. Another issue, more likely it occur, is that you can only see the name so if two people from different institutions have the same name, you do not

[2021-03-11 11:29] scottwilson-nhm opened #227 "Cannot add number of days to equipment"
I have made a joint GB-TAF Request, requesting access to NHM and Royal Botanic Gardens Edinburgh - 10 working days in total.

However when I select equipment to use, I cannot enter a value other than '0'

![image](https://user-images.githubusercontent.com/58856468/110780553-ba5a1500-825c-11eb-8e8b-981033d81aca.png)

This is an important part of the rationale that scorers and hosts assess to see if

[2021-03-11 11:38] scottwilson-nhm opened #228 "No confirmation email sent to my account once I've submitted a TA Request"
Once I completed my TA Request, no email was received in my associated GMail account registered to the Requester user profile I made.

It is useful for reassurance to confirm with those applying to an opportunity that their application has been received.

Not a bug or issue, but a future feature for the list.

[2021-03-11 11:38] wouteraddink opened #229 "cannot approve a TA request as admin"
#### Description
If I am logged in as admin and I try to approve a TA request (e.g. if a TAF admin is unable to do so), I get an error:
Something went wrong: Error: Request failed with status code 500

[2021-03-11 11:51] mmarschler commented on #184
I could reproduce Larissas issue:
I am logged in as inst. moderator and added a user to our institution. I have no problems to remove this user afterwards when shes only a requester.
But if I assign a role to her (e. g. TA coordinator), it is not possible to remove this user anymore.

But I think this is quite a good protection so that coordinators cannot be removed by mistake. You just have to wi

[2021-03-11 12:13] cannedit commented on #184
@mmarschler thanks, and yes, I looked into her test scenario also and I could delete that specific user when logged in as an admin, so I don't thinks this is a showstopper, there's a workaround if needed.

[2021-03-11 12:15] cannedit commented on #229
I will look into this, but I don't think this is a showstopper: in case a TA coordinator (the only role who can approve a TA request, so not a TAF admin) is not available, then an admin can assign the TA coordinator role to some other institution related user.

[2021-03-11 12:28] LarissaS commented on #184
The strange thing is that I did not assign a role to her! She was already a TA coordinator for RBINS. But I also tried with Patricia (TA coord. for Meise) and with Patrick Semal (TA and VA and inst. coord. for RBINS) and I could delete them without any problem. And Carol not!
Of course is was just a test, in normal situation I would not add people who should not be on our institutional page.

[2021-03-11 13:01] cannedit commented on #184
@LarissaS Ok, thanks for the info and connecting/disconnecting people to an institution and assigning roles should not happen that often and should ideally be dealt with before starting a call.

[2021-03-11 13:08] cannedit commented on #217
Sorry, but I can't see what goes wrong, can you be a bit more specific, like mentioning what characters cause this problem and maybe send a screenshot of the comments discussion?

[2021-03-11 13:09] cannedit commented on #218
This has already been identified as a problem and we're working on it.

[2021-03-11 13:10] cannedit commented on #219
That functionality is not implemented. The relevant VA coordinator should have received an email notification though, so please check that.

[2021-03-11 13:13] cannedit commented on #221
We identified a problem with assigning the role of TA coordinator after TA requests have been registered for that institution already and we're working on that. But in any case it's important to have all roles, especially TA coordinators and TAF admins, assigned before a TA call starts to avoid these kind of problems.

But as a TA coordinator you are only allowed to see the TA requests in which yo

[2021-03-11 13:15] cannedit commented on #222
No, that is not expected behaviour, so please try to organise such a test scenario again in cooperation with an admin (@scottwilson-nhm or @wouteraddink)

[2021-03-11 13:17] cannedit commented on #223
We will try to take care of this in time.

[2021-03-11 13:24] cannedit commented on #224
That is normal behaviour as agreed upon: changing an institution in a TA request, means that you have to fill in all details for the request anew. This is because the connection between an institution and its resources (facilities) has to be shown in the form. So in case another institution is selected the accompanying info has to be shown, so then it's basically a new request.

[2021-03-11 13:25] cannedit commented on #225
This issue is already identified (see Github issue #214) and we're working on it.

[2021-03-11 13:26] cannedit commented on #214
See also Github issue #225.

[2021-03-11 13:29] cannedit commented on #227
We have discovered that this is occasionally happening, for example in case the start and end date for the visit are not given; the amount of days that a facility can be 'reserved' is depending on the calculation of the proposed length of visit, which in turn depents on the start and end date. We will try to solve this by providing a 2 week range for the usage of the facilities in case this happen

[2021-03-11 13:53] lenarulz commented on #219
In this case the relevant VA coordinator should have been myself.
I did not get an approval notification.
Is it possilbe to check the timestamp of the request approval and the notification email?

[2021-03-11 14:11] cannedit commented on #217
Ok, so < > can be used in a comment, but this breaks a proper PDF generation, so I would say: workaround for now is to avoid these characters in comments. Unless you can point me to other characters which will cause problems and which might be necessary to use in comments, I would say, this is something we can take care of at a late stage of the project.

[2021-03-11 14:58] cannedit commented on #219
I am sorry, I misunderstood: upon approval no email notification is sent; an email notification is only sent in case a requester submits a request and then the relevant coordinator receives an email notification. All communications about the request will then take place within ELViS in the comments section.

[2021-03-11 17:18] #190 closed

[2021-03-11 17:20] #185 closed

[2021-03-11 17:22] #184 closed

[2021-03-12 06:15] vixriihi commented on #217
Error seems to be caused by < character (> can be there and there is no issues with only that). If I add `&lt;` then the < character prints correctly to pdf but in the comments not. Example in here: https://elvis-accept.pictura-hosting.nl/requests/va/fc6267a2-f572-4731-a2ca-a0ea93f5bfec?orderBy=requestDate&direction=asc&perPage=10&q=

[2021-03-12 08:24] cannedit commented on #217
Ok, thanks, we will try to solve this.

[2021-03-12 08:43] cannedit commented on #218
The issue with the password recovery functionality has been dealt with, please test.

[2021-03-12 09:01] wouteraddink commented on #218
password recovery function is working now, email notification on support question is not working.

[2021-03-12 10:45] scottwilson-nhm commented on #227
Hi Wim,

I've put through a few Requests now where the day calculation and booking equipment has been fine. Setting a two week range for the usage of facilities is not the fix for this problem - 2 weeks is the average length of stay for funded visits but we have had visits that last a lot longer. Please don't set any hard limits on how long equipment (inc. collections) can be used for.

All best,

[2021-03-12 11:47] cannedit commented on #227
@scottwilson-nhm I think you misunderstood me: the amount of 15 days is only set for facilities in case a requester forgot to provide a start and end date, so there is no proposed length of visit on which the amount of days to be reserved for facilities can be given. In case that 15 days limit kicks in, then a requester can go back to the start and end dates and provide the proper information, so

[2021-03-12 16:57] cannedit commented on #225
This is solved now, so please test again.

[2021-03-12 16:58] cannedit commented on #223
This is solved, so please test.

[2021-03-12 17:01] cannedit commented on #218
The email notification is out of scope for ELViS v1 (it will be dealt with once we connect ELViS to the new DiSCCo helpdesk system), and the message after sending the helpdesk request is now adapted accordingly. Please test.

[2021-03-12 17:01] cannedit commented on #217
This is solved now, please test.

[2021-03-12 17:02] cannedit commented on #216
This is solved now, please test.

[2021-03-12 17:03] cannedit commented on #215
This is solved now, but will not be visible until we deploy the latest version of ELViS to the Production server on Monday morning, the 15th of March.

[2021-03-12 17:04] cannedit commented on #214
This is solved now, please test.

[2021-03-12 17:04] cannedit commented on #212
This is solved now, please test.

[2021-03-12 17:05] cannedit commented on #199
This is solved now, please test.

[2021-03-13 12:38] LarissaS commented on #199
Text ok, url prorvided does not work properly:
![image](https://user-images.githubusercontent.com/949726/111030244-65a3cf00-8401-11eb-83eb-87c86a6cc264.png)

[2021-03-13 13:55] cannedit commented on #199
I noticed there is a subdirectory missing in the url in the email notification: "requests" should be: "requests/ta" (and the same for VA requests: "requests" should be: "requests/va"). We will fix this.

[2021-03-14 17:35] wouteraddink commented on #218
Notification is ok on acceptance, not yet on production but I assume it will work there as well with new deployment so I mark as resolved.

[2021-03-14 17:51] wouteraddink commented on #225
I cannot test this, still have an encoding issue with downloading the pdfs on my machine (even though I have a new Windows version), somehow these are seen as .txt.

[2021-03-14 17:54] wouteraddink commented on #223
confirmed.

[2021-03-14 17:58] wouteraddink commented on #216
confirmed

[2021-03-14 18:03] wouteraddink commented on #218
Actually I do receive an email notification now! so the notification was ok..

[2021-03-14 19:38] cannedit commented on #225
Is this happening in all browsers? The newest MS browser Edge is known to have some problems with PDF's ...

[2021-03-15 08:03] #223 closed

[2021-03-15 08:04] #218 closed

[2021-03-15 08:04] #216 closed

[2021-03-15 08:05] cannedit commented on #215
This will be taken care of once we deploy on the ELViS production server

[2021-03-16 13:07] vixriihi commented on #217
works

[2021-03-16 13:07] #217 closed

[2021-03-17 07:46] #215 closed

[2021-03-17 07:47] #225 closed

[2021-03-17 07:47] #214 closed

[2021-03-17 07:47] #212 closed

[2021-03-17 07:48] #199 closed

[2021-03-17 07:48] #203 closed

[2021-03-17 07:49] #140 closed

[2021-03-18 08:34] LarissaS opened #230 "impossible to add new people and assign roles"
#### Description

Logged in as institution coordinator I'm not able to add people to my institute. The button is missing. Also option of assigning roles is not there.
![image](https://user-images.githubusercontent.com/949726/111595061-06acd400-87cc-11eb-821f-178cec664eab.png)

#### Steps to reproduce the issue

1.
2.
3.

#### What's the expected result?

-

#### What's the actual result?

-

####

[2021-03-18 11:59] #230 closed

[2022-01-26 16:07] #222 closed

[2022-01-26 16:07] #221 closed

[2022-01-26 16:08] #156 closed

[2022-01-26 16:09] #152 closed

[2022-01-26 16:10] #137 closed

[2022-01-26 16:11] #93 closed

[2022-02-03 11:05] cannedit opened #231 "Hide Main Menu item "Requesters" for anyone except Admins and TAF Admins"
#### Description
NHM Evaluation Excel sheet no. 1:
All requesters can see name, e-mail, gender & ORCID ID of all ELViS-registered users. Requesters' personal information should be visible only to the requester themselves and to TAF administrators / Risk of information mis-use.

#### Agreement
We will solve this 'Quick and Dirty': make the Main Menu item "Requesters" only visible for Admins & TAF A

[2022-02-03 11:10] cannedit opened #232 "Add two extra fields for user registration and profile"
#### Description
NHM Evaluation Excel sheet no. 3:
Enhancement of User Profiles: capturing Home Institution, Nationality, & other details / Most of the workload for TA Coordinators was establishing fields like Home Institution, etc. User profiles should capture the profile outline that was available on the old portal - only visible to TAF Admins, TA Coordinators, VA Coordinators, and superadmin.

[2022-02-03 11:15] cannedit opened #233 "Implement extra free text field "Host" in TA Call form"
#### Description
NHM Evaluation Excel sheet no. 4:
Host name field is missing / A very large amount of time has been taken in TA Call 3 in searching the form for a named host and/or e-mailing almost every requester to ask who their proposed is.  It is critical for TA Call 4 that a field is added for a named host.

#### Agreement
We're going to implement an extra text field in the TA Call form for

[2022-02-03 11:19] cannedit opened #234 "Implement Reporting for ELViS based on wireframes"
#### Description
NHM Evaluation Excel sheet no. 5:
Data download for reporting / The system as a whole is limited in its use if there is no easily-useable function for data download.  This would also facilitate management of requests during the calls.

#### Agreement
We're  going to implement reporting based on the already approved wireframes with as addition information on the new profile element

[2022-02-03 11:23] cannedit opened #235 "Incorporate Resource Needs per Institition in the TA Call Request PDF"
#### Description
NHM Evaluation Excel sheet no. 6:
PDF download function to be improved / PDF export function currently (June 2021) does not correctly show the Resource Needs section

#### Agreement
We will improve the TA Call Request PDF by incorporating Resource Needs.

[2022-02-03 11:29] cannedit opened #236 "Correct major flaw that Requests are connected to Roles instead of Institutions"
#### Description
NHM Evaluation Excel sheet no. 8:
Role conflict to be resolved / roles structure:  It should be made possible to combine some roles (e.g. requester & TAF administrator) + other role related issues.

#### Agreement
The very first thing we have to do when we start developing again is to look closely at the roles system, because shortly before the definitive deadline of ELViS Develop

[2022-02-21 11:03] cannedit opened #237 "Connect the ELViS Helpdesk page form to the DiSCCo Helpdesk tool"
Description

At the moment the ELViS Helpdesk page offers a form to ask questions about ELViS or to report problems while using ELViS which sents an email to this email address: synthesys@nhm.ac.uk.

Since there is now a DiSCCo Helpdesk tool available (https://dissco.jitbit.com/), which is able to turn emails into helpdesk tickets, the current email address to which the ELViS Helpdesk page sends i

[2022-02-21 17:25] cannedit opened #238 "TA Call Request Scoring functionality"
The Scoring functionality for approved TA Call Requests has been implemented (see the manual page 51-54).

This can be handled by a person holding the TA Scorer role (per country) and the general admin

[2022-02-24 14:05] LarissaS commented on #231
as a regular user I do not see Requesters, only Requests. But in Request I can see a name, email and orcid id of a requester.

[2022-02-25 10:16] LarissaS commented on #238
as a regular user I created a request for RMCA (title "My 2nd request") and submitted it. Logged in as TA coordinator Arnaud Henrard I do not see it in requests assigned to me. I have the impression that I don't see any requests from a new 2022 call.

[2022-02-25 16:01] cannedit commented on #238
I guess this comment is actually referring to Github issue #236, but I can react on it over here anyway: it's still the idea that there can only be one TA Coordinator per institution and at the moment both Arnaud Henrard and you hold that role, so please correct this and check again?
![ELViS_TA_Coordinator_RMC](https://user-images.githubusercontent.com/22167327/155747155-df766197-b822-440e-a326-00

[2022-02-25 16:04] cannedit commented on #231
That's correct, but this is a Quick and Dirty method to solve the main problem: anyone having access to all profile info of al requesters. In case you can see a request, you are probably involved in that request one way or another (at least for TA Call requests), so then it's hard to hide names/email addresses/orcid id's of other requesters involved.

[2022-02-28 12:33] wolodkin commented on #142
This is still an open issue, the login screen says "Username or email". Maybe the customized theme was not activated under Configure/Realm Settings/Themes?

[2022-02-28 15:21] wolodkin commented on #238
- As a requester I created a request "Alex' test request".
- After I renamed the title to "Alex' test request (renamed)".
- After an update of some texfields a don's see any errors.
- Finally I renamed my request to "Alex' test request (updated, renamed)".

_In contrast, the testers *without* Admin or TAF Admin rights are asked
to test whether they, as requesters, can see the name, e-mail, **gende

[2022-02-28 15:37] wolodkin commented on #237
I have tried to upload a file with 25,0 MB (maximal size) from https://www.dasinternet.net/file.php?file=leil.de/di/files/more/testdaten/25mb.test but it wasn't possible: "The filesize exceeds 25 Mb, please upload a smaller file".

[2022-03-01 10:10] emhaston commented on #142
I'm also still seeing Username or email when I log in.

[2022-03-01 10:15] emhaston commented on #231
I have two accounts. One is my VA-coordinator account (e.haston@rbge.ac.uk) and one is my requester, non-admin account (e.haston@rbge.org.uk). I can see all the requesters from both accounts, including e-mail and gender information.

[2022-03-01 10:17] emhaston commented on #232
I can see Employed by participating institution, Employed by other institution and Nationality. The Employed by fields are not very intuitive.

[2022-03-01 10:23] emhaston commented on #231
First, I need to check I'm testing the correct test version! :). I can't see Requesters tab in either my admin or my regular account. I can see 72 requests in both my regular and my admin accounts.

[2022-03-01 10:34] philippeloret commented on #142
Me too, I still see "Username or email" in login screen

[2022-03-01 10:36] philippeloret commented on #232
This is good for me. I see "Nationality", "Employed by participating institution" and "Employed by other institution".

[2022-03-01 10:40] philippeloret commented on #231
It's ok, I cannot see the main menu item "Requesters" (only Requests).

[2022-03-01 10:43] philippeloret commented on #233
Ok, the new extra field "Host" is present in the TA Call form.

[2022-03-01 10:51] philippeloret commented on #237
I tried to send "Questions and Feedback" and it's ok. But the mail I received is malformed : The beginning of my first name was replaced by an emoticon because there is a : just before my first name (Message from :Philippe L...). I think a space between the : character and the first name could avoid this situation
![elvis_questions_feedback_email](https://user-images.githubusercontent.com/75371870

[2022-03-01 12:36] B-San-Chi commented on #231
Ok also for me,  I only see Requests in both cases

[2022-03-01 12:54] B-San-Chi commented on #237
I have tried to send a file in "questions and feedback" and the answer was
"Something went wrong uploading the form, please try again"

[2022-03-01 13:11] B-San-Chi commented on #237
I can not connect to DiSCCo Helpdesk tool

[2022-03-01 13:17] philippeloret commented on #237
Me too, I cannot log in to DiSSCo Helpdesk tool.

[2022-03-01 13:32] B-San-Chi commented on #237
For me the e mail received is ok
![ELViS_answer pdf](https://user-images.githubusercontent.com/58851483/156177996-adfa3e59-b2fd-4b43-ad55-3aba14d884e8.png)

[2022-03-02 10:54] cannedit commented on #232
@emhaston what do you mean with: "The Employed by fields are not very intuitive"?

[2022-03-02 11:14] cannedit commented on #237
@wolodkin: yes there seems to be something wrong with the limit for uploading a file, just a small one will do, but larger ones (like beyond 10 Mb) not, we will fix this.
@philippeloret and @B-San-Chi: thank you for spotting the issue with the colon, we will correct that; but getting access to the DiSCC0 helpdesk tool is not part of this functionality, so I will discard these remarks.

[2022-03-02 11:16] cannedit commented on #142
@wolodkin, @emhaston and @philippeloret: thank you for spotting this; I am sure it's indeed just a keycloak glitch and we will fix this.

[2022-03-02 11:19] cannedit commented on #238
@wolodkin: I guess your comment is a result of testing Github issue #231 ?

[2022-03-02 11:22] cannedit commented on #231
@emhaston: you should be able to see the main menu item "Requesters" when logged in with an admin account, but not with your regular (requester role only?) account; can you please verify this?

[2022-03-02 12:36] mmarschler commented on #235
Pdf download works fine, but the fields are still not shown correctly (see enclosed pdf). I filled in the maximum amount of signs in the fields "Workplan", "Justification of the request" and "specify which collection", but you can only see only one line. Additionally, in the section "Institution services" the name of the facilities are not shown but only "test 1".

An issue of userfriendlyness: It

[2022-03-02 13:17] mmarschler commented on #238
The scoring functionality seems to work properly. I tested it with several different accounts, and I can see and score only requests for which I have the role TA scorer.

Concerning the status "scored": In TA calls, we have 4 scorers for each institution/request. To my understanding, now the status of the request is "scored" if only one scorer has finished scoring and therefore indicates that this

[2022-03-02 13:27] mmarschler commented on #238
Concerning the visibility of requests in "Requests assigned to me":

Logged in with our Synthesys-Team account, which has among others the roles TA coordinator and TA scorer (see screenshot), I can see under "all requests" all requests for our institution as well as the requests for which I have the scorer role - so this works perfectly fine.
![2022-03-02_TA_coordinator_Vienna](https://user-images

[2022-03-02 13:41] wouteraddink commented on #237
I could send a help message and received the confirmation email. Attachment also included. However mails do not seem to arrive in the jitbit helpdesk, there are no new emails in jitbit from the test period.

[2022-03-02 13:46] mmarschler commented on #238
One more issue: The manual says that a TA scorer will see TA call requests once the TA call's deadline has passed (see Manual page 51). I was able to score the requests although the call has not ended yet.

[2022-03-02 13:48] mmarschler commented on #238
And could you please give the TAF admin role to our Synthesys-team account synthesys@nhm-wien.ac.at ? Then I will check the soring functionality also from this point of view. Thank you!

[2022-03-02 13:52] wouteraddink commented on #231
for user without extra roles (requester), the roles overview in the profile looks a bit weird:
Institution based -
Roles -
Country based -
Roles -

Is this what I am supposed to see? I find this overview confusing for the requester.

[2022-03-02 13:53] wouteraddink commented on #231
Under the institutions/people tab, you can as requester still see the email addresses from all people.

[2022-03-03 15:36] cannedit commented on #231
@wouteraddink:
I think the info about employees of institutions can be useful in case someone wants to contact somebody from an institution. As for the (empty) summing up of roles for common users (without extra roles) looking weird: this is an indication that it is possible to have roles, so I think we should change this functionality, but rather explain it in the user manual.

[2022-03-03 15:45] cannedit commented on #235
@mmarschler:
You tested the PDF of the TA Call request using long strings of characters without spaces, hence the whole text doesn’t show properly. In case it was tested with ‘real’ sentences, so with spaces between words, the result would be different (see the PDF attached of a TA Call request I produced).
Regarding the facilities in the PDF you attached here: I can't recognise those as being fac

[2022-03-03 15:49] cannedit commented on #237
@wouteraddink:
Regarding no emails from ELViS ending up in the DiSCCo helpdesk system: I will let the team check whether we use the correct email address ofc, but I think we need to check things with the persons responsible for the DiSCC helpdesk system too: for example whether the url of the ELViS Acceptance server is not being blacklisted somehow.

[2022-03-03 15:59] cannedit commented on #238
@mmarschler:
We never received the ‘requirement’ that TA Call Requests had a fixed amount of TA Scorings as you suggested (4), so the functionality is implemented in such a way that a TA Scoring can happen multiple times (up to the Admins to decide, via assigning TA Scorers). So in case we have to change this set up, then it will mean much more than just adding an extra scoring status.
Regarding t

[2022-03-07 08:59] LarissaS commented on #238
Hi,
I updates the roles and now if I am logged in as TA coordinator I can see requests assigned to me.

Best,
Larissa

From: Wim van Dongen ***@***.***>
Sent: Friday, 25 February 2022 17:02
To: DiSSCo/ELViS ***@***.***>
Cc: Larissa Smirnova ***@***.***>; Comment ***@***.***>
Subject: Re: [DiSSCo/ELViS] TA Call Request Scoring functionality (Issue #238)

I guess this comment is actually referring t

[2022-03-08 11:46] mmarschler commented on #235
@cannedit Thanks for your comments, Wim.

Regarding the facilities-names in the pdf:
I've made a pdf of a request from Larissa for RMCA, and there the name of the facilities are correctly shown:
[1_request_dd9b2c10-3199-41dd-ad4c-601fb648a77e_RMCA.pdf](https://github.com/DiSSCo/ELViS/files/8205754/1_request_dd9b2c10-3199-41dd-ad4c-601fb648a77e_RMCA.pdf)

As a institution moderator, I added 2 new f

[2022-03-08 12:02] mmarschler commented on #238
@cannedit:
It really seems to be an issue of mixed roles. Once I've gave the ta coordinator role away from synthesys@nhm-wien.ac.at to maria.marschler@nhm-wien.ac.at, it worked perfectly fine:
Logged in as maria.marschler (ta coordinator), I can see all requests for NHMW (in "All requests" as well as in "Requests assigned to me").
Logged in as synthesys (taf admin for Belgium), I can only see all

[2022-03-08 12:27] LarissaS commented on #238
I have now three roles, ***@***.******@***.***> as TA coordinator, ***@***.******@***.***> as requester and ***@***.******@***.***> as institutional moderator and VA coordinator.
As TA coordinator I see all requests assigned to me, as  institutional moderator I do not see any TA requests, is it normal? Now Arnaud ***@***.******@***.***>) is assigned a role of moderator and VA coordinator. Shell we

[2022-03-14 16:20] wouteraddink opened #239 "CETAF links broken in institutional pages"
#### Description
The CETAF links in the institutional pages are currently broken, as CETAF changed their urls. The Institutions cannot change these themselves in ELViS. What would be needed is to use an url with the known GRID ID in the format: https://darwin.naturalsciences.be/cetaf_institutions_resolver/resolver.php?grid_id=grid.425433.7

instead of:
https://cetaf.org/botanic-garden-meise-0

[2022-03-15 09:43] cannedit commented on #239
It's now possible for Institution Moderators to change that weblink in the Acceptance server, so please test this and then we can ask Institution Moderators to change this in the Production server, the minute the new functionality is available over there, envisaged for just before the start of the new TA Call in April.

[2022-03-15 09:46] cannedit opened #240 "Hide the mentioning of the TA Scorer role in the tab "People" of an Institution"
During the WP6 meeting on March 8 2022 we decided that it's Ok that the email addresses and roles of users linked to an Institution are still shown in the tab "People" of the Institution, but that an exception should be made for the role of TA Scorer because he/she has to do the scoring anonymously.

This is now solved, so once an ELViS user gets the role of TA Scorer, this will not be mentioned i

[2022-03-15 09:48] cannedit commented on #231
See Github issue #240 and in addition: the labels "Institution based" and "Country based" are now changed.

[2022-03-15 09:52] cannedit commented on #235
Please test this again and in particular the mentioning of the requested resources, because there seems to be a problem with this at least for the institution Royal Museum for Central Africa/Belgium.

[2022-03-15 09:53] cannedit commented on #236
Please test this a.s.a.p., because it's quite important that we know this bug has been fixed properly.

[2022-03-15 09:55] cannedit commented on #237
The lay-out of the email messages has been adapted, so @philippeloret the issue you encountered before will not occur anymore, however: we're still working on the problem that emails don't arrive in the DiSCCo JitBit system is still under investigation.

[2022-03-16 10:53] B-San-Chi commented on #240
Ok, I am only seeing the item "Requesters" from the main menu as a VA coord, not as an applicant

[2022-03-16 15:58] mmarschler commented on #240
Works fine, TA scorer isn't mentioned anymore in the "People"-tab of the institution.

[2022-03-16 16:09] mmarschler commented on #239
Ok! Changing the CETAF identifier-link worked fine.

[2022-03-17 08:54] B-San-Chi commented on #235
I have just sent a TA request to the Royal Museum for Central Africa/Belgium. I guess Larissa will get it.

[2022-03-17 09:56] mmarschler commented on #236
I tested the connection/visability of TA requests with my 3 profiles, it seems to work well!

**as "normal" requester** (maria@marschler.at): I can only see my own requests (in "all requests" and "my own requests")

**as TAF admin for Belgium** (synthesys@nhm-wien.ac.at): I can only see TA requests for Belgium (RMCA & Meise; in "all requests" and "requests assigned to me")
This profile is also ins

[2022-03-17 10:17] mmarschler commented on #231
For me the wording is ok.

[2022-03-17 10:24] mmarschler commented on #237
I tested this once more, and there is another layout problem in the email message: There are some \n in the text (see screenshot).
![2022-03-17_email_from_helpdesk](https://user-images.githubusercontent.com/75616869/158789072-2d4e451b-cb8d-4bac-a21f-11d613f4ce03.PNG)

[2022-03-17 11:54] mmarschler commented on #237
I just tested the maximum size of attachments - everything is ok! As requested, it is limited to 4 mb, and this limit is shown also in the i-icon next to the upload button. If it's more than 4 mb, the proper error message is shown:

![2022-03-17_helpdesk_4mb_error](https://user-images.githubusercontent.com/75616869/158802587-9923e33e-ed24-4211-ab81-498a2d83a205.PNG)

[2022-03-17 12:15] mmarschler commented on #235
I created pdfs with my synthesys@nhm-wien.ac.at -profile.
Everything is fine with Meise and RMCA-pdfs, but in Vienna-pdfs the facilities are still not shown correctly.

[Meise_1_request_025a571d-c7dc-4904-b18a-fa9555b78d49.pdf](https://github.com/DiSSCo/ELViS/files/8284983/Meise_1_request_025a571d-c7dc-4904-b18a-fa9555b78d49.pdf)

[RMCA_1_request_f66b558e-f720-4476-baee-cb32c39ec767.pdf](https://g

[2022-03-17 12:23] B-San-Chi commented on #237
I just tested the form again. I have the same problems as mmarschler

![imagen](https://user-images.githubusercontent.com/58851483/158807506-ca4baf3d-11ca-435e-ad3c-cc741dfe319a.png)

[2022-03-17 13:19] LarissaS commented on #239
I can change the link, it works fine.

[2022-03-17 13:32] LarissaS commented on #231
The wording is ok now. But I agree with Wouter that every requester can see now email addresses of people affiliated  to the institution. If people have a role like TA, VA coordinators, then it's ok, But for other people affiliated to the institution but without possibility to specify their position at the institution, like curator of certain collection of head of a department, for example, then i

[2022-03-17 13:50] LarissaS commented on #240
I do not see the role " scorer" anymore. Who can assign the role "scorer"? TAF admin? I tried to find our, but could not.

[2022-03-17 14:18] LarissaS commented on #235
As a requester I asked in resources needed 7 days at Jemu research infrastructure (see "dna extraction project" request for RMCA).
In pdf I do not see Jemu research infrastructure at all, instead there are 7 days for  test 2 facility, see here:
[RMCA_request.pdf](https://github.com/DiSSCo/ELViS/files/8287179/RMCA_request.pdf)

[2022-03-18 10:19] LarissaS commented on #235
I do not see any request of Begona! What is the title?

[2022-03-18 11:03] B-San-Chi commented on #235
TA test made by BEGOÑA SANCHEZ

[2022-03-18 11:04] B-San-Chi commented on #235
![imagen](https://user-images.githubusercontent.com/58851483/158991885-30108a31-6af3-42a9-8dbc-712e4368e802.png)

[2022-03-18 12:53] LarissaS commented on #235
I found it! It was at the end of my list because the date of your request is 18/02/2021!

![image](https://user-images.githubusercontent.com/949726/159006288-f6cbe7cd-fa4f-4179-89fd-58b18cfd6ade.png)

[2022-03-18 13:01] LarissaS commented on #235
Checking TA test made by BEGOÑA SANCHEZ:
number of days in pdf is the same, but names of facilities are not corresponding! For example in her request there is no Wood lab, in pdf well!
see pdf here:
[1_request_066373be-6724-4767-9f03-900b27d6b7e0.pdf](https://github.com/DiSSCo/ELViS/files/8304603/1_request_066373be-6724-4767-9f03-900b27d6b7e0.pdf)

[2022-03-18 13:27] LarissaS commented on #237
I sent a test question (with attachment) and got the confirmation email. So it works fine.
![image](https://user-images.githubusercontent.com/949726/159010698-5d995152-fd4e-4707-a97e-2bf55f2708c0.png)

[2022-03-18 13:36] B-San-Chi commented on #238
"As it is the same case that happens to Larissa S, in the MNCN there is not a correct assignment of roles and it has caused that in previous TA calls we have had problems. With the idea that there should be only one TA coordinator per institution, this role should only be held by Josefina Cabarga and not by Marian Ramos, since in this way the TA requests reach the wrong person.
Wim, could you corr

[2022-03-18 13:58] LarissaS commented on #238
Who assigns the role of score? The manual says admin, but what admin, not TAF admin? Is there already a scorer for Belgium? I can't test the scoring functionality, because I don't even see how can I assign request for scoring!

[2022-03-18 13:59] B-San-Chi commented on #237
Yes but continue writing \n  in the first two lines
It is right?

[2022-03-18 14:01] LarissaS commented on #237
yes, it looks a bit strange, indeed!

[2022-03-20 19:43] wolodkin commented on #231
As a new user I wasn't sure what's meant at first :

Roles for Institution -
Roles -
Roles for Country -
Roles -

I would prefer to use a phrase like "You are a ROLE at..." if there ist a role.

[2022-03-21 10:51] cannedit commented on #240
@LarissaS at the moment only a general Admin can assign the TA Scorer role, but we're working on allowing a TAF Admin to do that too, however, that's not in the current Acceptance server deployment yet, so hopefully in the next one.

[2022-03-21 10:55] cannedit commented on #237
@mmarschler @LarissaS @B-San-Chi: we will fix the "\n"-issue (it was an attempt to spread the message over more than one line, but apparently that only works in a few email systems) and we will also adapt the error message accordingly in case a too large attachment is sent along with a helpdesk message.

[2022-03-21 10:59] cannedit commented on #235
@mmarschler @LarissaS @B-San-Chi: Ok we're going to look into this (PDF not showing correct facilities as requested) once more.

[2022-03-21 11:01] cannedit commented on #231
@LarissaS @wolodkin: I understand your comments, but we decided in the WP6 meeting upon the wording as well as only hide the role of TA Scorer in the tab "People" per Institution.

[2022-03-21 16:12] megumi-nhmw commented on #240
I don’t see the “scorer” neither. However, in testing this topic, I found that the role “institution moderator” is mentioned multiple times at some institutions. It probably has nothing to do with the issue #240, but I just want to let you know.
![Screenshot (15)](https://user-images.githubusercontent.com/100203553/159303075-396011f2-aee5-4e16-a200-bf0f0a264daa.png)
![Screenshot (17)](https://user

[2022-03-22 10:55] cannedit commented on #240
@megumi-nhmw thank you, I was able to solve (as an Admin) in the interface the fact that some users had multiple mentioning of their Institution Moderator role in the tab "People" of their Institution, so that's not happening at the moment anymore, but I will nevertheless ask the team to look into this.

[2022-03-22 10:57] #239 closed

[2022-03-22 10:58] cannedit commented on #237
@mmarschler @LarissaS @B-San-Chi @wouteraddink in addition: we will check again why the emails from the ELViS Helpdesk form don't arrive in the DiSCCo helpdesk system.

[2022-03-22 11:01] #142 closed

[2022-03-22 11:04] cannedit opened #241 "An Admin should be able to change CETAF links of an Institution"
At the moment general Admins and Institution Moderators can change the info of Institutions, however, the latest change that Institution Moderators can also change the CETAF link of their Institution (Github issue #239) has not been deployed for general Admins yet, so this will be corrected; this will enable general Admins to change the CETAF links for all Institutions.

[2022-03-22 11:07] cannedit opened #242 "A TAF Admin should also be able to assing the role of TA Scorer"
At the moment only a general Admin can assign the role of TA Scorer to an ELViS user and in this way he/she can kick-off the start of the scoring period for a TA Call. However, it would be nice if a TAF Admin will also have the possibility to assign that role, thus being able to kick-off the start of the scoring period for a TA Call for his/her country.

[2022-03-22 11:13] #232 closed

[2022-03-22 11:13] #233 closed

[2022-03-22 11:14] #240 closed

[2022-04-06 12:34] cannedit commented on #237
Due to the fact that helpdesk requests sent via the webform on the ELViS helpdesk page don't arrive in the DiSCCo helpdesk system JitBit, whereas requests for help sent directly via user's standard computer mail functionality do arrive in the DiSCCo helpdesk system, we decided to suppress the webform in the ELViS helpdesk page and to make the email address of the DiSCCo helpdesk system to which re

[2022-04-12 08:36] mmarschler commented on #237
The new workaround works well: Email was clickable and computer mail programme opened a new mail. I sent two testmails with different attachments. Larissa and Pat confirmed the receipt.

I can also see my tickets when I click on the dissco-jitbit-link that is sent with the confirmation email.

But I was not able to log in at jitbit (https://dissco.jitbit.com/helpdesk/, as suggested in the Q&A-text

[2022-04-12 09:35] mmarschler commented on #242
I tested as TAF Admin assigning the scorer role, but it didn't work properly. I was able to assign it, but the role is not saved.

**My TAF Admin profile (TAF Admin of Belgium):**
![2022-04-12_profile_TAF_admin](https://user-images.githubusercontent.com/75616869/162928652-5d4b11da-d1db-480c-8c0a-29b936039fce.PNG)

**Assigned role for a requester:**
![2022-04-12_assigning_ta_scorer_Belgium](https:/

[2022-04-12 10:04] mmarschler commented on #241
Changing the CETAF link still works fine for institution moderators. (I have no general admin account, so I cannot test for this role.)

[2022-04-13 13:42] cannedit commented on #237
@mmarschler I may have overlooked something, but I don't think the helpdesk page text in ELViS suggests that it is possible to use your ELViS credentials to log into the JitBit system.

[2022-04-13 14:03] cannedit commented on #242
@mmarschler I see, we will correct this.

[2022-04-14 15:35] cannedit commented on #242
@mmarschler we have solved the issue now, so would you please try again?

[2022-06-27 09:27] #242 closed

[2022-06-27 09:27] #241 closed

[2022-06-27 09:28] #234 closed

[2022-06-27 09:29] #237 closed

[2022-06-27 09:30] #235 closed

[2022-10-11 08:22] B-San-Chi commented on #235
Sorry!!!

It was another request recycled!!!

De: Smirnova Larissa ***@***.***
Enviado el: viernes, 18 de marzo de 2022 13:54
Para: DiSSCo/ELViS ***@***.***>
CC: Begoña Sánchez Chillón ***@***.***>; Comment ***@***.***>
Asunto: Re: [DiSSCo/ELViS] Incorporate Resource Needs per Institition in the TA Call PDF (Issue #235)

 <https://user-images.githubusercontent.com/58851483/158991885-30108a31-6af3-